@import url(http://fonts.googleapis.com/css?family=Simonetta:400,900);

body {
	background-color: #FFFE73;
	text-align: center;
	color: #416FA1;
	font-family: 'Simonetta', serif, sans-serif;
	font-weight: 400;
}
h3 {font-family: 'Simonetta', serif, sans-serif;
	font-weight: 400;
}

#slogan {
	font-style: italic;
	font-size: 26px;
}
ul {
	padding:0;
	margin:0;
	list-style-type:none;
}

h1 {
	font-size: 72px;
	font-family: 'Simonetta', serif, sans-serif;
	font-weight: 900;

}
.top {
	border-top: 2px;
	border-bottom: 2px;
	border-style: solid;
	border-color: #416FA1;
	margin-left: 200px;
	margin-right: 200px;
}

