@import url(http://fonts.googleapis.com/css?family=Simonetta:400,900);

body {
	background-color: #C9B4AA;
	text-align: center;
	color: #2F4F4F;
	font-family: 'Simonetta', serif, sans-serif;
	font-weight: 400;
}
h3 {font-family: 'Simonetta', serif, sans-serif;
	font-weight: 400;
}

#slogan {
	font-style: italic;
	font-size: 26px;
}
ul {
	padding:0;
	margin:0;
	list-style-type:none;
}

h1 {
	font-size: 150px;
	font-family: 'Simonetta', serif, sans-serif;
	font-weight: 900;

}

