@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700);
body {
	background-color: #C9B4AA;
	text-align: center;
	color: #2F4F4F;
	font-family: 'Josefin Slab', serif;
}
#slogan {
	font-style: italic;
	font-size: 26px;
}
ul {
	padding:0;
	margin:0;
	list-style-type:none;
}

h1 {
	font-size:48px;

}

