@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic);

html {
	background: #F0F8FF;
}

h1 {
	font-family: 'Playfair Display', serif, sans-serif;
	font-weight:700;
	font-size:65px;
	text-align:right;
	vertical-align: center;
}
header {
	padding: 10px 10px 10px 10px;
	height: 75px;
	background: #DCDCDC;
	border-bottom: solid black 4px;
}

.wrapper {
	width: 1200px;
	margin: auto;
}

p {
	font-family: 'Playfair Display', serif, sans-serif;
	font-weight:400;
	font-style: italic;
	font-size:20px;
	line-height: 23px;
	width: 1100px;
	margin: 0 50px 20px 50px;
	text-indent: 30px;
	}

section {
	width: 900px;
	margin: 0 auto;
}

.right {
	width: 900px;
	position: center;
	}

.photos {
	margin: 0 auto 150px;
}	

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
nav {
	font-size: 32px;
	font-family: 'Playfair Display', serif, sans-serif;
	font-weight:400;
	color: black;
	padding: 30px 0 10px 0;
}

nav a {
	margin: 0 10px;
	padding: 10px;
	color: black;
}

nav a:hover {
	background:white;
}

footer {
	background: #DCDCDC;
	height: 100px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left:0px;
	border-top:solid black 4px;
	}

.contact1 {
	padding: 15px;
	margin: 15px;
}
.contact1:hover {
	background:white;
	color: black;
}

a {
	color:black;
	text-decoration: none;
	font-family: 'Playfair Display', serif, sans-serif;
	font-weight:400;
	}

.photos img {
	width: 350px;
}
.reg1 {
	float:left;
	margin:22px;
}
.contact1 {
	float:left;
	color: black;
	text-decoration: none;
	padding: 20px;
	margin: 20px;
	font-family: 'Playfair Display', serif, sans-serif;
	font-weight:400;
	font-size:24px;
}
.blogtitle {
	margin:75px 0 75px 0;
}
.blogtitle h2 {
	text-align:center;
}
h2 {
	font-family:'Playfair Display', serif, sans-serif;
	font-weight:400;
	font-size:45px;
	margin: 0 0 30px 0;
	font-style:bold;
}

.blogpic img {
	width: 1000px;
	margin: 0 90px 20px 90px;
}