@import url(http://fonts.googleapis.com/css?family=Simonetta:400,900);

body {
	background-color: #FFFE73;
	text-align: center;
	color: #416FA1;
	font-family: 'Simonetta', serif, sans-serif;
	font-weight: 400;
}
h3 {font-family: 'Simonetta', serif, sans-serif;
	font-weight: 400;
}

#slogan {
	font-style: italic;
	font-size: 26px;
}
ul {
	padding:0;
	margin:0;
	list-style-type:none;
}

h1 {
	font-size: 72px;
	font-family: 'Simonetta', serif, sans-serif;
	font-weight: 900;
	color: #416FA1;
}

.first {
	position: absolute; 
	margin-left: 20px;
	padding: 20px;
	background-color: #23FF99; 
}
.address {
	position: absolute;
	margin-left:200px;
	padding: 5px;
	background-color: gray;
}

