@import url(http://fonts.googleapis.com/css?family=Dosis:300,500);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:900);

body {
	background-image: url("../images/lights-night-street-party.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

}
/*
header h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 64px;
	font-weight: 500;
	text-align: center;
}*/

html, body{margin:0px; padding:0px;}

header {
	margin-top: 4em;
}

h1 {
	font-size: 60px;
	font-weight: 900;
	text-align: center;
	color: white;
	font-family: 'Playfair Display SC', serif;
}
nav a {
	display: block;
	font-family: 'Dosis', sans-serif;
	color: #333;
	font-style: none;
	font-weight: 300;
	text-decoration: none;

}
nav a:hover {
	text-decoration: underline;
	font-weight:500;
}

nav {
	font-size: 32px;

}
.wrap {
	margin: 10px 0 10px 0;
	padding: .5em;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	width: 100%;
	}

.wrap2 {
	padding: 20px 0 20px 0;
	background-color: rgba(0, 0, 0, .7);
	width: 100%;
	margin: none;
}	

#about {
	margin: 30em auto 10em auto;
	text-align: center;
	position: auto;
	line-height: 1.5em;
	font-size: 20px;
}	

p {
	font-family: 'Dosis', sans-serif;
}

/*
#aboutustext {
	padding: 1em 25% 1em 25%;
	line-height: 1.5em;
	font-size: 20px;
}*/ 

h2 {
	text-align: center;
	font-family: "Doris", sans-serif;
	font-size: 3em;
}

.whoweare {
	margin-top: 10em;
	margin-bottom: 3em;

}
img {
	max-width:100%;
	}

.images {
	margin: 0 auto;
	display:block;

}

footer {
	float:left;
	left:0;
	bottom:0;
	height: auto;
	width: 100%;
	background-color: rgba(255,255,255,.7);
	text-align:center;
	margin: none;
}
#address {
	margin-top: 1em;
	margin-bottom: 1em;
}
.contact1 {
	font-family: "Doris", sans-serif;
	font-size:1.25em;
	color: black;
	text-decoration:none;
	margin-right: 1em;
	margin-left: 1em;
}

#footerpad {
	padding-top: .5em;
}

.contact1:hover{
	text-decoration: underline;
}
@media only screen and (max-device-width: 800px){

}	

@media only screen and (max-width: 600px) {
footer {
	font-size:1em;
	float:none;
}
.contact1 {
	display:block;
	margin:1em;
}
@media only screen and (max-width: 480px){
p {
	font-size:15px;
}
footer {
	float:none;
}
.contact1 {
	display:block;
	margin:1em;
}
